# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

# 1.3 Trabajando con datos

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [ ]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [ ]:
dataset[['Kilometraje','Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1, 2, 3

(1, 2, 3)

In [ ]:
nombre = 'Passat'
valor = 153000
(nombre, valor)

('Passat', 153000)

In [ ]:
nombres_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nombres_carros)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
nombres_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nombres_carros[0]

'Jetta Variant'

In [ ]:
nombres_carros[1]

'Passat'

In [ ]:
nombres_carros[-1]

'DS5'

In [ ]:
nombres_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nombres_carros[-1]  #tupla dentro de tupla

('Fusca', 'Gol', 'C4')

In [ ]:
nombres_carros[-1][1]

'Gol'

# 2.3 Iterando en tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nombres_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
carro_2

'Passat'

In [ ]:
carro_3

'Crossfox'

In [ ]:
carro_4

'DS5'

In [ ]:
_, A, _, B = nombres_carros #con el _ hago que ignore el elemento de esa posicion de la tupla, en este caso solo guarda en A el elemento de la posicion 2 y en B el elemento de la posicion 4

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
_, C, *_ = nombres_carros #con el * antes del _ hago que se ignoren los elementos de esa posicion en adelante

In [ ]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if valor > 100000:
    print(carro)

Passat
DS5

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [1]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [2]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [3]:
carros.index('Passat')

1

In [4]:
valores[carros.index('Passat')]

106161.94

In [5]:
datos = {'Jetta Variant':88078.64 , 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [6]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [7]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [8]:
datos = dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [10]:
datos['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [11]:
'Passat' in datos

True

In [12]:
'Fusca' in datos

False

In [13]:
'Fusca' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [14]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [16]:
datos['DS5'] = 123456.43

In [17]:
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 123456.43}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [18]:
del datos['Passat']

In [19]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123456.43}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [20]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123456.43}

In [22]:
datos.update({'Passat':106161.94})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.94}

In [23]:
datos.update({'Passat':106161.95, 'Fusca':150000})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.copy()*

Crea una copia del diccionario.

In [24]:
datosCopy = datos.copy()

In [25]:
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.95,
 'Fusca': 150000}

In [26]:
del datosCopy['Fusca']
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.95}

In [27]:
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [28]:
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 123456.43,
 'Passat': 106161.95}

In [29]:
datosCopy.pop('Passat')

106161.95

In [30]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123456.43}

In [31]:
datosCopy.pop('Passat')

KeyError: ignored

In [32]:
datosCopy.pop('Passat', 'Llave no encontrada')

'Llave no encontrada'

In [33]:
datosCopy.pop('DS5', 'Llave no encontrada')

123456.43

In [34]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Borra todos los itens del diccionario.

In [37]:
datosCopy.clear()

In [36]:
datosCopy

{}

# 3.4 Iterando en diccionarios

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [39]:
datos.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [40]:
for key in datos.keys():
  print (key)

Jetta Variant
Crossfox
DS5
Passat
Fusca

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [42]:
datos.values()

dict_values([88078.64, 72832.16, 123456.43, 106161.95, 150000])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [43]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 123456.43), ('Passat', 106161.95), ('Fusca', 150000)])

In [45]:
for item in datos.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 123456.43)
('Passat', 106161.95)
('Fusca', 150000)

In [46]:
for key, value in datos.items():
  print(key, '->', value)

Jetta Variant -> 88078.64
Crossfox -> 72832.16
DS5 -> 123456.43
Passat -> 106161.95
Fusca -> 150000

In [47]:
for key, value in datos.items():
  if value > 100000:
    print(key)

DS5
Passat
Fusca

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [48]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [50]:
valores = []
for valor in datos.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [51]:
suma = 0
for valor in datos.values():
  suma += valor
suma

267072.74

In [52]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [53]:
sum(datos.values())

267072.74

In [54]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [55]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [60]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [61]:
media()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [63]:
def media(n1,n2,n3):
  valor = (n1+n2+n3)/3
  print(valor)

In [64]:
media(1,2,3)

2.0

In [65]:
media(23,45,67)

45.0

In [66]:
def media(lista):
  valor = sum(lista)/ len(lista)
  print(valor)

In [68]:
resultado = media([1,2,3,4,5,6,7,8])

4.5

In [69]:
resultado

In [70]:
type(resultado)

NoneType

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [81]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return (valor)

In [82]:
media([1,2,3,4,5,6,7,8])

4.5

In [83]:
resultado = media([1,2,3,4,5,6,7,8])

In [84]:
resultado

4.5

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [85]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return (valor, len(lista))

In [86]:
media([1,2,3,4,5,6,7,8])

(4.5, 8)

In [87]:
resultado, n = media([1,2,3,4,5,6,7,8])

In [88]:
resultado

4.5

In [89]:
n

8

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [90]:
import pandas as pd

### Creando una Series a partir de una lista

In [91]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [92]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [93]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [94]:
dataset = pd.DataFrame(datos)

In [95]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [96]:
dataset[['Nombre','Año', 'Kilometraje', 'Motor', 'Cero_km', 'Valor']]

          Nombre   Año  Kilometraje            Motor  Cero_km      Valor
0  Jetta Variant  2003      44410.0  Motor 4.0 Turbo    False   88078.64
1         Passat  1991       5712.0     Motor Diesel    False  106161.94
2       Crossfox  1990      37123.0  Motor Diesel V8    False   72832.16

### Creando un DataFrame a partir de un diccionario

In [97]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [98]:
dataset = pd.DataFrame(datos)

In [99]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [103]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0)

In [104]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [105]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [106]:
dataset['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [107]:
type(dataset['Valor'])

pandas.core.series.Series

In [108]:
dataset[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [109]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [110]:
dataset[0:3]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [113]:
dataset.loc['Passat'] #el resultado viene en formato de series porque tiene un par de corchetes, si quiero en data frame hay que poner doble par de corchetes

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [115]:
dataset.loc[['Passat', 'DS5']] #al buscar con dos argumentos si o si hay que usar doble corchete para que salga en formato de data frame, de lo contraio al usar un solo par tira error

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [116]:
dataset.loc[['Passat', 'DS5'],['Motor', 'Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [118]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [119]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [120]:
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [122]:
dataset.iloc[1:4] #al usar un intervalo va con un solo par de corchetes

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [124]:
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [125]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Kilometraje
Nombre
Passat                  Motor Diesel  106161.94       5712.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [126]:
dataset.iloc[:, [0, 5, 2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]

# 5.3 Consultas en DataFrames

In [127]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [128]:
dataset.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [129]:
dataset.Motor == 'Motor Diesel'

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [130]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [131]:
dataset[dataset.Motor == 'Motor Diesel']

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [133]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Cero_km	== True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [136]:
dataset.query('Motor == "Motor Diesel" and Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

# 5.4 Iterando con DataFrames

In [137]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [138]:
for item in dataset:
  print(item)

Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [139]:
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2003
  Kilometraje                                              44410.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Cerraduras electricas...
  Valor                                                   88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                               5712.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
  Valor                                                  106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                            Motor Diesel V8
  Año                                                         1990
  Kilometraje                                              37123.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Control de estabilidad'...
  Valor                                                   72832.16
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Valor                                                  124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2006
  Kilometraje                                              25757.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', '4 X 4', 'Central mult...
  Valor                                                    92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                              Motor 1.8 16v
  Año                                                         2012
  Kilometraje                                              10728.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Techo panorámic...
  Valor                                                   97497.73
  Name: Palio Weekend, dtype: object),
 ('A5',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Transmisión automática', 'Cámara de estacion...
  Valor                                                    56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                              77599.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Sensor crepuscular...
  Valor                                                  112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                              Motor 3.0 32v
  Año                                                         2010
  Kilometraje                                              99197.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Piloto automático', '...
  Valor                                                  120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2011
  Kilometraje                                              37978.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Panel digital', 'Centra...
  Valor                                                   76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                            Motor Diesel V6
  Año                                                         2002
  Kilometraje                                              12859.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Llantas de aleación', ...
  Valor                                                   71647.59
  Name: Ford Edge, dtype: object),
 ('Courier',
  Motor                                            Motor Diesel V8
  Año                                                         2007
  Kilometraje                                               8052.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', '4 X 4', 'Piloto automá...
  Valor                                                   73919.53
  Name: Courier, dtype: object),
 ('S-18',
  Motor                                                   Motor V6
  Año                                                         2001
  Kilometraje                                              89773.0
  Cero_km                                                    False
  Accesorios     ['Asientos de cuero', 'Sensor de lluvia', 'Lla...
  Valor                                                  112732.99
  Name: S-18, dtype: object),
 ('J5',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor crepuscular', 'Panel digital', 'Llant...
  Valor                                                   53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2009
  Kilometraje                                              41457.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                  127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM',
  Motor                                            Motor Diesel V8
  Año                                                         2016
  Kilometraje                                             115607.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Transmisión automática...
  Valor                                                    59910.4
  Name: RAM, dtype: object),
 ('Série 1',
  Motor                                              Motor 3.0 32v
  Año                                                         2012
  Kilometraje                                              46449.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Cámara de estacionamient...
  Valor                                                   61118.59
  Name: Série 1, dtype: object),
 ('A3',
  Motor                                               Motor 1.0 8v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   88552.39
  Name: A3, dtype: object),
 ('XC90',
  Motor                                               Motor 1.0 8v
  Año                                                         2016
  Kilometraje                                              37086.0
  Cero_km                                                    False
  Accesorios     ['Cerraduras electricas', 'Ventanas eléctricas...
  Valor                                                   62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                              Motor 3.0 32v
  Año                                                         2017
  Kilometraje                                              15173.0
  Cero_km                                                    False
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                               Motor 1.0 8v
  Año                                                         2002
  Kilometraje                                             101193.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Piloto automáti...
  Valor                                                  106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                   Motor V8
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de estabilidad', 'Central multimedia...
  Valor                                                    94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                            Motor Diesel V6
  Año                                                         1994
  Kilometraje                                              98079.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Transmisión automátic...
  Valor                                                  133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                             102959.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Panel digital', 'V...
  Valor                                                  125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Transmisión automática', 'Aire...
  Valor                                                  121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!',
  Motor                                            Motor Diesel V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de estacionamiento', 'Ventanas eléctr...
  Valor                                                    71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2016
  Kilometraje                                               5795.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Asientos de cuero', 'Tr...
  Valor                                                   95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                              Motor 3.0 32v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Aire condicionado', 'Techo pan...
  Valor                                                  105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                              Motor 3.0 32v
  Año                                                         2002
  Kilometraje                                              58848.0
  Cero_km                                                    False
  Accesorios     ['Transmisión automática', 'Sensor de estacion...
  Valor                                                   57045.27
  Name: Cayman S, dtype: object),
 ('V40',
  Motor                                            Motor 4.0 Turbo
  Año                                                         1991
  Kilometraje                                              94381.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Sensor de estac...
  Valor                                                   120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                               Motor 1.0 8v
  Año                                                         1997
  Kilometraje                                              30163.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Control de esta...
  Valor                                                    70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4',
  Motor                                              Motor 2.0 16v
  Año                                                         1995
  Kilometraje                                              53332.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', '4 X 4', 'Ventanas eléc...
  Valor                                                   69105.18
  Name: Gol G4, dtype: object),
 ('Linea',
  Motor                                               Motor 1.0 8v
  Año                                                         2018
  Kilometraje                                              17720.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Panel digital', 'Ventan...
  Valor                                                   59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                              Motor 2.0 16v
  Año                                                         1991
  Kilometraje                                              33808.0
  Cero_km                                                    False
  Accesorios     ['Control de tracción', 'Sensor crepuscular', ...
  Valor                                                    65955.4
  Name: Ford F100, dtype: object),
 ('J2',
  Motor                                                   Motor V8
  Año                                                         2014
  Kilometraje                                              90684.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Sensor de estacionamient...
  Valor                                                   60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                   Motor V8
  Año                                                         1995
  Kilometraje                                              43975.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Piloto automático', 'Air...
  Valor                                                  118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de tracción', 'Asientos de cuero', '...
  Valor                                                   51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de lluvia', 'Sensor crepuscular', 'Ai...
  Valor                                                  123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                               5526.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Aire condicionado', '...
  Valor                                                   69770.18
  Name: California, dtype: object),
 ('S60',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Techo panorámico', 'Frenos ABS', '4 X 4', 'A...
  Valor                                                  102609.54
  Name: S60, dtype: object),
 ('Tucson',
  Motor                                              Motor 2.0 16v
  Año                                                         2013
  Kilometraje                                              93415.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Sensor crepuscular', ...
  Valor                                                   67997.19
  Name: Tucson, dtype: object),
 ('HB20',
  Motor                                                   Motor V6
  Año                                                         2003
  Kilometraje                                              40762.0
  Cero_km                                                    False
  Accesorios     ['Sensor de lluvia', 'Cerraduras electricas', ...
  Valor                                                  135235.29
  Name: HB20, dtype: object),
 ('Optima',
  Motor                                              Motor 1.8 16v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Central multimedia', 'Aire condicionado', 'T...
  Valor                                                   86641.34
  Name: Optima, dtype: object),
 ('Logan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2002
  Kilometraje                                              86302.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Ventanas eléctr...
  Valor                                                  136818.39
  Name: Logan, dtype: object),
 ('Range Rover Vogue',
  Motor                                               Motor 1.0 8v

In [142]:
for index, row in dataset.iterrows():
  if(2019 - row.Año != 0):
    dataset.loc[index, 'km_media'] = row.Kilometraje / (2019 - row.Año)
  else:
    dataset.loc[index, 'km_media'] = 0

dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1858.814815

In [149]:
list(dataset.itertuples())

[Pandas(Index='Jetta Variant', Motor='Motor 4.0 Turbo', Año=2003, Kilometraje=44410.0, Cero_km=False, Accesorios="['Llantas de aleación', 'Cerraduras electricas', 'Piloto automático', 'Asientos de cuero', 'Aire condicionado', 'Sensor de estacionamiento', 'Sensor crepuscular', 'Sensor de lluvia']", Valor=88078.64, km_media=2775.625),
 Pandas(Index='Passat', Motor='Motor Diesel', Año=1991, Kilometraje=5712.0, Cero_km=False, Accesorios="['Central multimedia', 'Techo panorámico', 'Frenos ABS', '4 X 4', 'Panel digital', 'Piloto automático', 'Asientos de cuero', 'Cámara de estacionamiento']", Valor=106161.94, km_media=204.0),
 Pandas(Index='Crossfox', Motor='Motor Diesel V8', Año=1990, Kilometraje=37123.0, Cero_km=False, Accesorios="['Piloto automático', 'Control de estabilidad', 'Sensor crepuscular', 'Frenos ABS', 'Transmisión automática', 'Asientos de cuero', 'Central multimedia', 'Ventanas eléctricas']", Valor=72832.16, km_media=1280.103448275862),
 Pandas(Index='DS5', Motor='Motor 2.4 Turbo', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Cerraduras electricas', '4 X 4', 'Ventanas eléctricas', 'Sensor crepuscular', 'Sensor de lluvia', 'Cámara de estacionamiento', 'Aire condicionado', 'Llantas de aleación']", Valor=124549.07, km_media=0.0),
 Pandas(Index='Aston Martin DB4', Motor='Motor 2.4 Turbo', Año=2006, Kilometraje=25757.0, Cero_km=False, Accesorios="['Llantas de aleación', '4 X 4', 'Central multimedia', 'Aire condicionado', 'Control de estabilidad', 'Transmisión automática', 'Sensor de estacionamiento', 'Piloto automático']", Valor=92612.1, km_media=1981.3076923076924),
 Pandas(Index='Palio Weekend', Motor='Motor 1.8 16v', Año=2012, Kilometraje=10728.0, Cero_km=False, Accesorios="['Sensor de estacionamiento', 'Techo panorámico', 'Sensor crepuscular', 'Panel digital', 'Aire condicionado', 'Llantas de aleación', 'Control de estabilidad', 'Asientos de cuero']", Valor=97497.73, km_media=1532.5714285714287),
 Pandas(Index='A5', Motor='Motor 4.0 Turbo', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Transmisión automática', 'Cámara de estacionamiento', 'Frenos ABS', 'Control de tracción', 'Central multimedia', 'Cerraduras electricas', 'Sensor crepuscular', 'Llantas de aleación']", Valor=56445.2, km_media=0.0),
 Pandas(Index='Série 3 Cabrio', Motor='Motor 1.0 8v', Año=2009, Kilometraje=77599.0, Cero_km=False, Accesorios="['Control de estabilidad', 'Sensor crepuscular', 'Control de tracción', 'Techo panorámico', 'Cerraduras electricas', 'Piloto automático', 'Panel digital', 'Cámara de estacionamiento']", Valor=112310.44, km_media=7759.9),
 Pandas(Index='Dodge Jorney', Motor='Motor 3.0 32v', Año=2010, Kilometraje=99197.0, Cero_km=False, Accesorios="['Ventanas eléctricas', 'Piloto automático', 'Techo panorámico', 'Aire condicionado', 'Asientos de cuero', 'Transmisión automática', 'Llantas de aleación', 'Cerraduras electricas']", Valor=120716.27, km_media=11021.888888888889),
 Pandas(Index='Carens', Motor='Motor 5.0 V8 Bi-Turbo', Año=2011, Kilometraje=37978.0, Cero_km=False, Accesorios="['Aire condicionado', 'Panel digital', 'Central multimedia', 'Sensor crepuscular', 'Transmisión automática', 'Llantas de aleación', 'Control de tracción', 'Cámara de estacionamiento']", Valor=76566.49, km_media=4747.25),
 Pandas(Index='Ford Edge', Motor='Motor Diesel V6', Año=2002, Kilometraje=12859.0, Cero_km=False, Accesorios="['Sensor crepuscular', 'Llantas de aleación', 'Techo panorámico', 'Sensor de lluvia', 'Cerraduras electricas', 'Sensor de estacionamiento', 'Control de tracción', 'Aire condicionado']", Valor=71647.59, km_media=756.4117647058823),
 Pandas(Index='Courier', Motor='Motor Diesel V8', Año=2007, Kilometraje=8052.0, Cero_km=False, Accesorios="['Central multimedia', '4 X 4', 'Piloto automático', 'Techo panorámico', 'Control de estabilidad', 'Cámara de estacionamiento', 'Asientos de cuero', 'Ventanas eléctricas']", Valor=73919.53, km_media=671.0),
 Pandas(Index='S-18', Motor='Motor V6', Año=2001, Kilometraje=89773.0, Cero_km=False, Accesorios="['Asientos de cuero', 'Sensor de lluvia', 'Llantas de aleación', 'Central multimedia', 'Cerraduras electricas', 'Aire condicionado', 'Cámara de estacionamiento', 'Sensor crepuscular']", Valor=112732.99, km_media=4987.388888888889),
 Pandas(Index='J5', Motor='Motor V6', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor crepuscular', 'Panel digital', 'Llantas de aleación', 'Frenos ABS', 'Transmisión automática', 'Control de tracción', 'Central multimedia', 'Cámara de estacionamiento']", Valor=53183.38, km_media=0.0),
 Pandas(Index='F-Type Coupé', Motor='Motor 5.0 V8 Bi-Turbo', Año=2009, Kilometraje=41457.0, Cero_km=False, Accesorios="['Piloto automático', 'Sensor crepuscular', 'Sensor de lluvia', 'Aire condicionado', 'Sensor de estacionamiento', 'Control de tracción', 'Cámara de estacionamiento', 'Ventanas eléctricas']", Valor=127488.42, km_media=4145.7),
 Pandas(Index='RAM', Motor='Motor Diesel V8', Año=2016, Kilometraje=115607.0, Cero_km=False, Accesorios="['Sensor crepuscular', 'Transmisión automática', 'Sensor de lluvia', 'Central multimedia', 'Control de estabilidad', '4 X 4', 'Frenos ABS', 'Piloto automático']", Valor=59910.4, km_media=38535.666666666664),
 Pandas(Index='Série 1', Motor='Motor 3.0 32v', Año=2012, Kilometraje=46449.0, Cero_km=False, Accesorios="['Techo panorámico', 'Cámara de estacionamiento', 'Cerraduras electricas', '4 X 4', 'Panel digital', 'Central multimedia', 'Llantas de aleación', 'Frenos ABS']", Valor=61118.59, km_media=6635.571428571428),
 Pandas(Index='A3', Motor='Motor 1.0 8v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['4 X 4', 'Piloto automático', 'Central multimedia', 'Techo panorámico', 'Sensor de estacionamiento', 'Control de tracción', 'Control de estabilidad', 'Sensor de lluvia']", Valor=88552.39, km_media=0.0),
 Pandas(Index='XC90', Motor='Motor 1.0 8v', Año=2016, Kilometraje=37086.0, Cero_km=False, Accesorios="['Cerraduras electricas', 'Ventanas eléctricas', 'Techo panorámico', 'Central multimedia', 'Control de estabilidad', '4 X 4', 'Transmisión automática', 'Sensor de lluvia']", Valor=62696.69, km_media=12362.0),
 Pandas(Index='RS 3 Sportback', Motor='Motor 3.0 32v', Año=2017, Kilometraje=15173.0, Cero_km=False, Accesorios="['4 X 4', 'Piloto automático', 'Central multimedia', 'Asientos de cuero', 'Sensor de lluvia', 'Llantas de aleación', 'Aire condicionado', 'Sensor crepuscular']", Valor=101726.3, km_media=7586.5),
 Pandas(Index='Pajero Sport', Motor='Motor 1.0 8v', Año=2002, Kilometraje=101193.0, Cero_km=False, Accesorios="['Sensor de estacionamiento', 'Piloto automático', 'Transmisión automática', 'Panel digital', 'Frenos ABS', 'Cámara de estacionamiento', 'Llantas de aleación', 'Control de estabilidad']", Valor=106147.38, km_media=5952.529411764706),
 Pandas(Index='Série 1 M', Motor='Motor V8', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Control de estabilidad', 'Central multimedia', 'Panel digital', 'Sensor crepuscular', 'Sensor de lluvia', 'Cámara de estacionamiento', 'Aire condicionado', 'Frenos ABS']", Valor=94564.4, km_media=0.0),
 Pandas(Index='Lamborghini Obvious', Motor='Motor Diesel V6', Año=1994, Kilometraje=98079.0, Cero_km=False, Accesorios="['Llantas de aleación', 'Transmisión automática', 'Cerraduras electricas', 'Techo panorámico', 'Control de estabilidad', 'Central multimedia', 'Sensor de estacionamiento', 'Sensor crepuscular']", Valor=133529.84, km_media=3923.16),
 Pandas(Index='Effa Hafei Picape Baú', Motor='Motor Diesel', Año=1991, Kilometraje=102959.0, Cero_km=False, Accesorios="['Control de estabilidad', 'Panel digital', 'Ventanas eléctricas', '4 X 4', 'Sensor crepuscular', 'Aire condicionado', 'Cerraduras electricas', 'Central multimedia']", Valor=125684.65, km_media=3677.1071428571427),
 Pandas(Index='Lamborghini Murciélago', Motor='Motor 5.0 V8 Bi-Turbo', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Frenos ABS', 'Transmisión automática', 'Aire condicionado', 'Cámara de estacionamiento', 'Control de tracción', 'Central multimedia', 'Sensor crepuscular', 'Control de estabilidad']", Valor=121596.21, km_media=0.0),
 Pandas(Index='Up!', Motor='Motor Diesel V6', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor de estacionamiento', 'Ventanas eléctricas', 'Frenos ABS', 'Central multimedia', 'Control de estabilidad', 'Sensor de lluvia', 'Transmisión automática', 'Piloto automático']", Valor=71367.1, km_media=0.0),
 Pandas(Index='Fiesta Rocam Sedan', Motor='Motor 4.0 Turbo', Año=2016, Kilometraje=5795.0, Cero_km=False, Accesorios="['Aire condicionado', 'Asientos de cuero', 'Transmisión automática', 'Cámara de estacionamiento', 'Piloto automático', 'Control de estabilidad', 'Sensor de lluvia', 'Ventanas eléctricas']", Valor=95347.75, km_media=1931.6666666666667),
 Pandas(Index='Sandero Stepway', Motor='Motor 3.0 32v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Frenos ABS', 'Aire condicionado', 'Techo panorámico', 'Panel digital', 'Sensor de estacionamiento', 'Ventanas eléctricas', 'Sensor crepuscular', 'Piloto automático']", Valor=105432.84, km_media=0.0),
 Pandas(Index='Cayman S', Motor='Motor 3.0 32v', Año=2002, Kilometraje=58848.0, Cero_km=False, Accesorios="['Transmisión automática', 'Sensor de estacionamiento', 'Llantas de aleación', 'Ventanas eléctricas', '4 X 4', 'Asientos de cuero', 'Panel digital', 'Cerraduras electricas']", Valor=57045.27, km_media=3461.6470588235293),
 Pandas(Index='V40', Motor='Motor 4.0 Turbo', Año=1991, Kilometraje=94381.0, Cero_km=False, Accesorios="['Cámara de estacionamiento', 'Sensor de estacionamiento', 'Llantas de aleación', 'Control de tracción', 'Frenos ABS', 'Transmisión automática', 'Asientos de cuero', 'Sensor de lluvia']", Valor=120432.7, km_media=3370.75),
 Pandas(Index='Classe SLS AMG', Motor='Motor 1.0 8v', Año=1997, Kilometraje=30163.0, Cero_km=False, Accesorios="['Sensor de estacionamiento', 'Control de estabilidad', 'Sensor de lluvia', 'Cerraduras electricas', 'Panel digital', 'Sensor crepuscular', 'Piloto automático', 'Asientos de cuero']", Valor=70707.2, km_media=1371.0454545454545),
 Pandas(Index='Gol G4', Motor='Motor 2.0 16v', Año=1995, Kilometraje=53332.0, Cero_km=False, Accesorios="['Sensor crepuscular', '4 X 4', 'Ventanas eléctricas', 'Control de tracción', 'Aire condicionado', 'Cámara de estacionamiento', 'Panel digital', 'Frenos ABS']", Valor=69105.18, km_media=2222.1666666666665),
 Pandas(Index='Linea', Motor='Motor 1.0 8v', Año=2018, Kilometraje=17720.0, Cero_km=False, Accesorios="['Piloto automático', 'Panel digital', 'Ventanas eléctricas', 'Control de tracción', 'Techo panorámico', 'Aire condicionado', 'Cámara de estacionamiento', 'Llantas de aleación']", Valor=59358.69, km_media=17720.0),
 Pandas(Index='Ford F100', Motor='Motor 2.0 16v', Año=1991, Kilometraje=33808.0, Cero_km=False, Accesorios="['Control de tracción', 'Sensor crepuscular', 'Cerraduras electricas', 'Asientos de cuero', 'Cámara de estacionamiento', 'Llantas de aleación', 'Central multimedia', '4 X 4']", Valor=65955.4, km_media=1207.4285714285713),
 Pandas(Index='J2', Motor='Motor V8', Año=2014, Kilometraje=90684.0, Cero_km=False, Accesorios="['Techo panorámico', 'Sensor de estacionamiento', 'Asientos de cuero', 'Ventanas eléctricas', 'Frenos ABS', 'Llantas de aleación', 'Cerraduras electricas', 'Transmisión automática']", Valor=60017.03, km_media=18136.8),
 Pandas(Index='Aston Martin DBS', Motor='Motor V8', Año=1995, Kilometraje=43975.0, Cero_km=False, Accesorios="['Techo panorámico', 'Piloto automático', 'Aire condicionado', 'Ventanas eléctricas', 'Asientos de cuero', 'Cerraduras electricas', 'Sensor de lluvia', 'Sensor crepuscular']", Valor=118909.52, km_media=1832.2916666666667),
 Pandas(Index='Pajero TR4', Motor='Motor 2.4 Turbo', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Control de tracción', 'Asientos de cuero', 'Cámara de estacionamiento', 'Control de estabilidad', 'Ventanas eléctricas', 'Piloto automático', 'Llantas de aleación', 'Techo panorámico']", Valor=51606.59, km_media=0.0),
 Pandas(Index='Polo Sedan', Motor='Motor V6', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor de lluvia', 'Sensor crepuscular', 'Aire condicionado', 'Sensor de estacionamiento', 'Techo panorámico', 'Transmisión automática', 'Ventanas eléctricas', 'Cerraduras electricas']", Valor=123281.87, km_media=0.0),
 Pandas(Index='California', Motor='Motor 1.0 8v', Año=2009, Kilometraje=5526.0, Cero_km=False, Accesorios="['Llantas de aleación', 'Aire condicionado', 'Cámara de estacionamiento', 'Panel digital', 'Cerraduras electricas', 'Sensor crepuscular', 'Central multimedia', 'Frenos ABS']", Valor=69770.18, km_media=552.6),
 Pandas(Index='S60', Motor='Motor 2.4 Turbo', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Techo panorámico', 'Frenos ABS', '4 X 4', 'Aire condicionado', 'Control de tracción', 'Central multimedia', 'Panel digital', 'Sensor crepuscular']", Valor=102609.54, km_media=0.0),
 Pandas(Index='Tucson', Motor='Motor 2.0 16v', Año=2013, Kilometraje=93415.0, Cero_km=False, Accesorios="['Ventanas eléctricas', 'Sensor crepuscular', 'Frenos ABS', 'Cámara de estacionamiento', 'Piloto automático', 'Cerraduras electricas', 'Transmisión automática', '4 X 4']", Valor=67997.19, km_media=15569.166666666666),
 Pandas(Index='HB20', Motor='Motor V6', Año=2003, Kilometraje=40762.0, Cero_km=False, Accesorios="['Sensor de lluvia', 'Cerraduras electricas', 'Control de tracción', 'Frenos ABS', 'Aire condicionado', 'Techo panorámico', 'Ventanas eléctricas', 'Transmisión automática']", Valor=135235.29, km_media=2547.625),
 Pandas(Index='Optima', Motor='Motor 1.8 16v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Central multimedia', 'Aire condicionado', 'Techo panorámico', 'Frenos ABS', 'Panel digital', 'Control de estabilidad', '4 X 4', 'Sensor de estacionamiento']", Valor=86641.34, km_media=0.0),
 Pandas(Index='Logan', Motor='Motor 4.0 Turbo', Año=2002, Kilometraje=86302.0, Cero_km=False, Accesorios="['Cámara de estacionamiento', 'Ventanas eléctricas', 'Central multimedia', 'Sensor de lluvia', 'Sensor crepuscular', 'Panel digital', 'Aire condicionado', 'Asientos de cuero']", Valor=136818.39, km_media=5076.588235294118),
 Pandas(Index='Range Rover Vogue', Motor='Motor 1.0 8v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['4 X 4', 'Ventanas eléctricas', 'Llantas de aleación', 'Central multimedia', 'Cámara de estacionamiento', 'Sensor de estacionamiento', 'Piloto automático', 'Aire condicionado']", Valor=117626.73, km_media=0.0),
 Pandas(Index='Sonata', Motor='Motor 5.0 V8 Bi-Turbo', Año=2002, Kilometraje=9755.0, Cero_km=False, Accesorios="['Piloto automático', 'Aire condicionado', 'Ventanas eléctricas', '4 X 4', 'Sensor de estacionamiento', 'Asientos de cuero', 'Cerraduras electricas', 'Control de estabilidad']", Valor=56208.7, km_media=573.8235294117648),
 Pandas(Index='Ford New Fiesta Sedan', Motor='Motor 3.0 32v', Año=2004, Kilometraje=69945.0, Cero_km=False, Accesorios="['Techo panorámico', 'Panel digital', 'Aire condicionado', 'Central multimedia', '4 X 4', 'Control de estabilidad', 'Transmisión automática', 'Sensor de lluvia']", Valor=84222.65, km_media=4663.0),
 Pandas(Index='Série 5 Gran Turismo', Motor='Motor 4.0 Turbo', Año=2001, Kilometraje=2395.0, Cero_km=False, Accesorios="['Control de tracción', 'Piloto automático', 'Aire condicionado', 'Asientos de cuero', 'Frenos ABS', 'Central multimedia', 'Sensor de lluvia', '4 X 4']", Valor=90781.65, km_media=133.05555555555554),
 Pandas(Index='CR-V', Motor='Motor Diesel V8', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Transmisión automática', 'Central multimedia', 'Ventanas eléctricas', 'Control de estabilidad', 'Control de tracción', 'Asientos de cuero', 'Frenos ABS', 'Panel digital']", Valor=64701.1, km_media=0.0),
 Pandas(Index='Ford EcoSport', Motor='Motor 1.0 8v', Año=2003, Kilometraje=80349.0, Cero_km=False, Accesorios="['Ventanas eléctricas', 'Piloto automático', 'Panel digital', 'Frenos ABS', 'Asientos de cuero', 'Techo panorámico', 'Sensor de lluvia', 'Llantas de aleación']", Valor=126350.49, km_media=5021.8125),
 Pandas(Index='Versa', Motor='Motor 3.0 32v', Año=2009, Kilometraje=85554.0, Cero_km=False, Accesorios="['Asientos de cuero', 'Aire condicionado', 'Llantas de aleación', 'Sensor crepuscular', 'Cerraduras electricas', 'Sensor de estacionamiento', 'Piloto automático', 'Control de estabilidad']", Valor=148152.89, km_media=8555.4),
 Pandas(Index='Classe E', Motor='Motor 1.0 8v', Año=2006, Kilometraje=50496.0, Cero_km=False, Accesorios="['Frenos ABS', 'Sensor de estacionamiento', 'Central multimedia', 'Cámara de estacionamiento', 'Aire condicionado', 'Techo panorámico', 'Transmisión automática', 'Piloto automático']", Valor=132298.83, km_media=3884.3076923076924),
 Pandas(Index='Carnival', Motor='Motor V8', Año=2000, Kilometraje=67716.0, Cero_km=False, Accesorios="['Cerraduras electricas', 'Transmisión automática', 'Cámara de estacionamiento', 'Frenos ABS', 'Central multimedia', 'Llantas de aleación', 'Techo panorámico', 'Control de estabilidad']", Valor=137627.63, km_media=3564.0),
 Pandas(Index='Aston Martin V8 Vantage Roadster', Motor='Motor 2.4 Turbo', Año=2006, Kilometraje=93947.0, Cero_km=False, Accesorios="['Transmisión automática', 'Cámara de estacionamiento', 'Ventanas eléctricas', 'Control de estabilidad', 'Central multimedia', 'Piloto automático', 'Sensor crepuscular', 'Cerraduras electricas']", Valor=80422.71, km_media=7226.692307692308),
 Pandas(Index='Hoggar', Motor='Motor 5.0 V8 Bi-Turbo', Año=2010, Kilometraje=35345.0, Cero_km=False, Accesorios="['Control de estabilidad', 'Asientos de cuero', 'Sensor de lluvia', 'Panel digital', 'Ventanas eléctricas', 'Frenos ABS', 'Control de tracción', 'Aire condicionado']", Valor=56373.99, km_media=3927.222222222222),
 Pandas(Index='A1', Motor='Motor 5.0 V8 Bi-Turbo', Año=1994, Kilometraje=81007.0, Cero_km=False, Accesorios="['Panel digital', 'Transmisión automática', 'Cámara de estacionamiento', 'Frenos ABS', 'Control de estabilidad', 'Sensor crepuscular', '4 X 4', 'Aire condicionado']", Valor=70846.03, km_media=3240.28),
 Pandas(Index='Aston Martin DB7 Vantage', Motor='Motor V6', Año=2007, Kilometraje=119513.0, Cero_km=False, Accesorios="['Sensor crepuscular', 'Piloto automático', 'Techo panorámico', 'Frenos ABS', 'Transmisión automática', 'Central multimedia', 'Ventanas eléctricas', 'Sensor de estacionamiento']", Valor=128694.23, km_media=9959.416666666666),
 Pandas(Index='CLA', Motor='Motor 1.0 8v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Central multimedia', 'Sensor de lluvia', 'Control de estabilidad', 'Sensor crepuscular', 'Llantas de aleación', 'Piloto automático', '4 X 4', 'Ventanas eléctricas']", Valor=133329.19, km_media=0.0),
 Pandas(Index='Accord', Motor='Motor V8', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor de estacionamiento', 'Aire condicionado', 'Central multimedia', 'Control de tracción', 'Llantas de aleación', 'Techo panorámico', 'Sensor de lluvia', 'Cámara de estacionamiento']", Valor=131961.43, km_media=0.0),
 Pandas(Index='EXTRA 103EX', Motor='Motor 2.0 16v', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor de estacionamiento', 'Central multimedia', 'Asientos de cuero', 'Sensor crepuscular', 'Techo panorámico', 'Control de tracción', 'Piloto automático', 'Sensor de lluvia']", Valor=112033.27, km_media=0.0),
 Pandas(Index='Sorento', Motor='Motor Diesel', Año=2019, Kilometraje=nan, Cero_km=True, Accesorios="['Sensor de lluvia', 'Cámara de estacionamiento', 'Sensor de estacionamiento', 'Control de estabilidad', 'Llantas de aleación', 'Cerraduras electricas', 'Ventanas eléctricas', 'Control de tracción']", Valor=81399.35, km_media=0.0),

In [150]:
list(dataset.items())

[('Motor',
  Nombre
  Jetta Variant                  Motor 4.0 Turbo
  Passat                            Motor Diesel
  Crossfox                       Motor Diesel V8
  DS5                            Motor 2.4 Turbo
  Aston Martin DB4               Motor 2.4 Turbo
                                   ...
  Phantom 2013                          Motor V8
  Cadillac Ciel concept                 Motor V8
  Classe GLK               Motor 5.0 V8 Bi-Turbo
  Aston Martin DB5                  Motor Diesel
  Macan                          Motor Diesel V6
  Name: Motor, Length: 258, dtype: object),
 ('Año',
  Nombre
  Jetta Variant            2003
  Passat                   1991
  Crossfox                 1990
  DS5                      2019
  Aston Martin DB4         2006
                           ...
  Phantom 2013             2014
  Cadillac Ciel concept    1991
  Classe GLK               2002
  Aston Martin DB5         1996
  Macan                    1992
  Name: Año, Length: 258, dtype: int64),
 ('Kilometraje',
  Nombre
  Jetta Variant            44410.0
  Passat                    5712.0
  Crossfox                 37123.0
  DS5                          NaN
  Aston Martin DB4         25757.0
                            ...
  Phantom 2013             27505.0
  Cadillac Ciel concept    29981.0
  Classe GLK               52637.0
  Aston Martin DB5          7685.0
  Macan                    50188.0
  Name: Kilometraje, Length: 258, dtype: float64),
 ('Cero_km',
  Nombre
  Jetta Variant            False
  Passat                   False
  Crossfox                 False
  DS5                       True
  Aston Martin DB4         False
                           ...
  Phantom 2013             False
  Cadillac Ciel concept    False
  Classe GLK               False
  Aston Martin DB5         False
  Macan                    False
  Name: Cero_km, Length: 258, dtype: bool),
 ('Accesorios',
  Nombre
  Jetta Variant            ['Llantas de aleación', 'Cerraduras electricas...
  Passat                   ['Central multimedia', 'Techo panorámico', 'Fr...
  Crossfox                 ['Piloto automático', 'Control de estabilidad'...
  DS5                      ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Aston Martin DB4         ['Llantas de aleación', '4 X 4', 'Central mult...
                                                 ...
  Phantom 2013             ['Control de estabilidad', 'Piloto automático'...
  Cadillac Ciel concept    ['Asientos de cuero', 'Panel digital', 'Sensor...
  Classe GLK               ['Llantas de aleación', 'Control de tracción',...
  Aston Martin DB5         ['Aire condicionado', '4 X 4', 'Transmisión au...
  Macan                    ['Central multimedia', 'Techo panorámico', 'Ve...
  Name: Accesorios, Length: 258, dtype: object),
 ('Valor',
  Nombre
  Jetta Variant             88078.64
  Passat                   106161.94
  Crossfox                  72832.16
  DS5                      124549.07
  Aston Martin DB4          92612.10
                             ...
  Phantom 2013              51759.58
  Cadillac Ciel concept     51667.06
  Classe GLK                68934.03
  Aston Martin DB5         122110.90
  Macan                     90381.47
  Name: Valor, Length: 258, dtype: float64),
 ('km_media',
  Nombre
  Jetta Variant            2775.625000
  Passat                    204.000000
  Crossfox                 1280.103448
  DS5                         0.000000
  Aston Martin DB4         1981.307692
                              ...
  Phantom 2013             5501.000000
  Cadillac Ciel concept    1070.750000
  Classe GLK               3096.294118
  Aston Martin DB5          334.130435
  Macan                    1858.814815
  Name: km_media, Length: 258, dtype: float64)]

# 5.5 Tratamiento de datos

In [151]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1981.307692

In [152]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Motor        258 non-null    object
 1   Año          258 non-null    int64
 2   Kilometraje  197 non-null    float64
 3   Cero_km      258 non-null    bool
 4   Accesorios   258 non-null    object
 5   Valor        258 non-null    float64
 6   km_media     258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [154]:
dataset.Kilometraje.isna()

Nombre
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Kilometraje, Length: 258, dtype: bool

In [155]:
dataset[dataset.Kilometraje.isna()]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,0.0

In [156]:
dataset.fillna(0)

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1858.814815

In [158]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1858.814815

In [159]:
dataset.fillna(0, inplace = True) #modifica el dataset y sustituye el NaN por 0 en este caso porque son todos los autos con 0km los que tienen NaN em kilometraje

In [160]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1858.814815

In [163]:
dataset.query('Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Control de estabilidad', 'Central multimedia...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,0.0

In [165]:
dataset = pd.read_csv('db.csv', sep = ';')

In [166]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [167]:
dataset.dropna(subset = ['Kilometraje'], inplace = True) #elimino las filas donde el valor de kilometraje en NaN, con el inplace me aseguro de eliminarlos del dataset y no solo de la visualizacion como ocurriria si no lo pongo

In [168]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47